<div class="container">
  
    <p id="notice"><%= notice %></p>
    
  <div class="row">
    <div class="col">

      <h1>New Attachment</h1>
      
      <%= render 'form', attachment: @attachment %>
      
      <%= link_to 'Back', attachments_path %>
    
    </div>
  </div>
</div>